main {
margin-top: 1rem;
}

.row {
  display: flex;
  justify-content: flex-end;
  overflow: auto;
  width: 117%;
  margin-top: $gutter;
}

.main__article {
  display: flex;

}

.author-date {
  display: flex;


}

.author {
  color: $brand-white;
  margin-right: $gutter;
  margin-top: 0;
}

.date {
  margin-top: 0.4rem;
}

.pic-details {
list-style-type: none;
padding-left: $gutter;

}

.pic-details__item {
  margin-bottom: .3rem;
}

.pic-details__item__red {
  color: $brand-red;
}

.camera__model {
  display: flex;
}

.end-of-main {
  display: flex;
  width: 76%;
  justify-content: center;
}

.lando {
  color: $brand-white;
}

.calrissian {
  margin-left: 1rem;
}
