main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: $gutter;
}

.main__article {
  display: flex;
  justify-content: flex-end;
}

.crazy-cage {
  width: 100%;

}

.crazy-cage-2 {
  max-width: 300px;
}

.author-date {
  display: flex;


}

.author {
  margin-top: 0;
  margin-right: $gutter;
  color: $brand-white;
}

.date {
  margin-top: 0.4rem;
}

.pic-and-author {
  width: 50%;
}

.pic-details {
  width: 25%;
  padding-left: 1rem;
  list-style-type: none;
  margin-top: .5rem;
}

.pic-details__item {
  font-size: 1rem;
}

.pic-details__item__red {
  margin-left: 0.3rem;
  color: $brand-red;
}

.camera__model {
  display: flex;
  align-items: center;
}

.end-of-main {
  display: flex;
  justify-content: center;
  width: 76%;
}

.lando {
  color: $brand-white;
}

.calrissian {
  margin-left: 1rem;
}
