.nav {
  display: flex;
  justify-content: space-between;
  margin: $gutter;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}

.logo {
  align-self: center;
  margin: 0;
  font-size: 2rem;

}

.name {
  margin-right: 0.3rem;
  color: $brand-white;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.about {
  color: $brand-light-gray;
}

.work {
  color: $brand-red;
}

.contact {
  color: $brand-light-gray;
}

.nav__links__icon {
  display: none;
}
