// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'cssgram';
@import 'variables';
@import 'nav';
@import 'header';
@import 'main';


body {
  max-width: 100vw;
  margin: auto;
  background: $brand-dark-gray;
  color: $brand-light-gray;
}

.container {
  max-width: $max-content-width;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-links {
  display: flex;
  flex-direction: row;
}
